body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  background: white;
}

header {
  margin-top: 14rem;
  margin-top: 1em;
  text-align: center;
}

.playground-wrapper {
  font-size: 1em;
  text-align: center;
}

.playground {
  display: inline-block;
  border-radius: 10px;
  padding: .5em;
  background: white;
}

.playground .rt-toggle {
  float: left;
  margin: 10px;
}

.playground--dark {
  background-color: rgb(50,50,50);
  color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-width: 800px;
}

.docs {
  text-align: left;
  border-top: 2px solid #eee;
  margin-bottom: 30px;
}

.docs__header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

.docs__table {
  margin: auto;
}

.badges a {
  color: rgba(0,0,0,0);
}

.example {
  padding: 0 25px;
  margin: 2em 1em 1em;
  display: inline-block;
}

.example__head {
  margin-bottom: .2em;
  margin: 0 0 2em;
  opacity: .5;
}

.content {
  padding: 1em 0;
  color: white;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase .row {
  color: #878787;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  max-width: 80%;
  border-bottom: 2px solid #eee;
}

.showcase h4 {
  margin-bottom: 0;
}

.showcase .rt-toggle {
  border: none;
  margin: 5px;
}

.bg-1 {
  background-color: #f0efee;
  color: black;
}

.bg-2 {
  background-color: rgb(50,50,50);
  color: white;
}

.bg-3 {
  background-color: rgb(38,38,38);
  color: white;
}

.example__info {
  color: grey;
  opacity: .7;
  font-size: .5em;
  line-height: 1;
}

.propString {
  text-align: center;
  margin-bottom: 15px;
}

.button-group {
  text-align: center;
}

.button-group button {
  margin-right: 5px;
  padding: 0 10px;
}

.row--centered {
  text-align: center;
}

code[class*="language-jsx"],
pre[class*="language-jsx"] {
  border: none;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

/* Larger than phone */
@media (min-width: 550px) {
  .playground-wrapper {
    font-size: 1.5em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/*
Github Corner
 */
github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/**
 * Screen Readers
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
