body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  font-size: 1.05em;
}

.container {
  margin: 0 auto;
text-align: center;
overflow: hidden;
  width: 100%;
  background-color: white;
}

.example {
  padding: 0 25px;
    margin: 2em 1em 1em;
  display: inline-block;
}


.example__head {
  margin-bottom: 0.2em;
  margin: 0 0 2em;
  opacity: 0.5;
}

.content {
  padding: 1em 0;
  color:white;
}

.inline-content {
  color:rgb(135,135,135);
  background-color: white;
  display: inline-block;
  background-color: inherit;
  font-size: 3em;
}

.bg-1 {
  background-color: #f0efee;
  color: black;
}

.bg-2 {
  background-color: rgb(50,50,50);
  color:white;
}

.bg-3 {
  background-color: rgb(38,38,38);
  color:white;
}


.example__info {
  color: grey;
  opacity: 0.7;
  font-size: 0.5em;
  line-height: 1;
}
